* {
  
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.back-button {
  text-decoration: none;
  padding: 2em;
  margin: 2rem;
  border: 1px solid black;
}

